footer {
	background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
	bottom: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 4329a3beab6719df8572b4aed30abd62f0239db8
