body{
	margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

.container{
    margin: auto;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
<<<<<<< HEAD
}

=======
 }
>>>>>>> 4329a3beab6719df8572b4aed30abd62f0239db8
